<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}La Peluquería del Rock{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/styleprofile.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>Menú</h2>
            <ul>
                <li><a href="#">Gestión de citas</a></li>
                <li><a href="#">Registro de Clientes</a></li>
                <li><a href="#">Gestión de empleados</a></li>
                <li><a href="#">Control de Inventarios</a></li>
                <li><a href="#">Facturación Simple</a></li>
            </ul>
        </div>
        <div class="main-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
