<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}La Peluquería del Rock{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/users/css/styleprofile.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>Menú</h2>
            <ul class="d-flex flex-wrap flex-column align-items-center">
                <li><a href="{% url 'dashboard' %}" >Dashboard</a></li>
                <li><a href="{% url 'turnos' %}" >Agendar turnos</a></li>
                <li><a href="{% url 'registro' %}" >Registro de clientes</a></li>
                <li><a href="{% url 'inventario' %}" >Control de inventarios</a></li>
                <li><a href="{% url 'historial_uso' %}" >Historial de uso</a></li>
                <li><a href="#" >Facturación simple</a></li>
            </ul>
        </div>
        <div class="main-content inventario">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function confirmarEliminar(productoId) {
            if (confirm('¿Estás seguro que deseas eliminar este producto?')) {
                fetch('{% url "eliminar_producto" 0 %}'.replace('0', productoId), {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({})
                }).then(response => {
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        alert('No se pudo eliminar el producto.');
                    }
                }).catch(error => {
                    console.error('Error al eliminar el producto:', error);
                    alert('Error al eliminar el producto.');
                });
            }
        }
    </script>
    <script>
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", $('input[name="csrfmiddlewaretoken"]').val());
                }
            }
        });
        </script>
    {% block extra_js %}{% endblock %}
</body>
</html>
