{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Perfil de usuario{% endblock %}
{% block content %}
<h2 class="mt-5">Turnos Agendados</h2>
<div class="table-responsive">
    <table class="table table-hover table-dark table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Observación</th>
                <th>Precio</th> <!-- Nueva columna para el precio -->
            </tr>
        </thead>
        <tbody>
            {% for turno in turnos %}
                <tr>
                    <td>{{ turno.cliente.nombre }}</td>
                    <td>{{ turno.fecha }}</td>
                    <td>{{ turno.observacion }}</td>
                    <td>{{ turno.precio }}</td> <!-- Mostrar el precio -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}