<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de turnos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container neon-box">
        <h1 class="title">Sistema de gestión de turnos</h1>
        <p>Tu estilo, nuestro arte. ¡Haz tu cita hoy!</p>
        <a href="{% url 'login' %}" class="btn">Iniciar Sesión</a>
        <a href="{% url 'register'
