{% extends "users/base.html" %}
{% block content %}
<div class="row d-flex flex-column" id="inventario">
    <h1 class="title text-center text-light">Inventario</h1><br><br>
    <p>Productos registrados en el inventario</p>
    <div>
        <button type="button" class="btn btn-light mb-3 align-self-start" data-toggle="modal" data-target="#modal-nuevo-producto">Nuevo Producto</button>
        <button type="button" class="btn btn-success mb-3 align-self-start" data-toggle="modal" data-target="#modal-uso-producto">Registrar Uso</button>
    </div>
    <table class="table table-light table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Producto</th>
                <th>Categoria</th>
                <th>Descripcion</th>
                <th>Vencimiento</th>
                <th>Cant. Disponible</th>
                <th>Venta</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.categoria }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.fecha_vencimiento }}</td>
                <td>{{ producto.cantidad_disponible }}</td>
                <td>{{ producto.precio_venta }}</td>
                <td>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-detalle-{{ producto.id }}">Detalles</button>
                    <button type="button" class="btn btn-danger" onclick="confirmarEliminar('{{ producto.id }}')">Eliminar</button>
                </td>
            </tr>
            <!-- Modal de Detalles -->
            <div id="modal-detalle-{{ producto.id }}" class="modal fade">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-dark">{{ producto.nombre }}</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body text-dark">
                            <div class="row">
                                <div class="col-3">
                                    {% if producto.imagen %}
                                    <img src="{{ producto.imagen.url }}" alt="Imagen del producto" class="img-fluid">
                                    {% else %}
                                    <img src="http://via.placeholder.com/200x200" alt="Imagen del producto" class="img-fluid">
                                    {% endif %}
                                </div>
                                <div class="col-9 ">
                                    <dl>
                                        <dt>Descripcion:</dt>
                                        <dd>{{ producto.descripcion}}</dd>
                                        <dt>Categoria:</dt>
                                        <dd>{{ producto.categoria}}</dd>
                                        <dt>Unidad de Medida:</dt>
                                        <dd>{{ producto.tipo }}</dd>
                                        <dt>Fecha de Adquisición:</dt>
                                        <dd>{{ producto.adquisicion }}</dd>
                                        <dt>Fecha de Vencimiento:</dt>
                                        <dd>{{ producto.fecha_vencimiento}}</dd>
                                        <dt>Precio de Compra:</dt>
                                        <dd>{{ producto.compra }}</dd>
                                        <dt>Precio de Venta:</dt>
                                        <dd>{{ producto.precio_venta}}</dd>
                                        <dt>Marca:</dt>
                                        <dd>{{ producto.marca }}</dd>
                                        <dt>Proveedor:</dt>
                                        <dd>{{ producto.proveedor }}</dd>
                                        <dt>Código de barras:</dt>
                                        <dd>{{ producto.codigo_barras }}</dd>
                                        <dt>Notas:</dt>
                                        <dd>{{ producto.notas }}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- Modal de Nuevo Producto -->
<div id="modal-nuevo-producto" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nuevo Producto</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data" action="{% url 'inventario' %}">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                {{ form.nombre.label_tag }}
                                {{ form.nombre }}
                                {% if form.nombre.errors %}
                                    <div class="text-danger">{{ form.nombre.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.categoria.label_tag }}
                                {{ form.categoria }}
                                {% if form.categoria.errors %}
                                    <div class="text-danger">{{ form.categoria.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.descripcion.label_tag }}
                                {{ form.descripcion }}
                                {% if form.descripcion.errors %}
                                    <div class="text-danger">{{ form.descripcion.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.tipo.label_tag }}
                                {{ form.tipo }}
                                {% if form.tipo.errors %}
                                    <div class="text-danger">{{ form.tipo.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.cantidad_disponible.label_tag }}
                                {{ form.cantidad_disponible }}
                                {% if form.cantidad_disponible.errors %}
                                    <div class="text-danger">{{ form.cantidad_disponible.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.adquisicion.label_tag }}
                                {{ form.adquisicion }}
                                {% if form.adquisicion.errors %}
                                    <div class="text-danger">{{ form.adquisicion.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.fecha_vencimiento.label_tag }}
                                {{ form.fecha_vencimiento }}
                                {% if form.fecha_vencimiento.errors %}
                                    <div class="text-danger">{{ form.fecha_vencimiento.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                    
                        <div class="col">
                            <div class="form-group">
                                {{ form.marca.label_tag }}
                                {{ form.marca }}
                                {% if form.marca.errors %}
                                    <div class="text-danger">{{ form.marca.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.proveedor.label_tag }}
                                {{ form.proveedor }}
                                {% if form.proveedor.errors %}
                                    <div class="text-danger">{{ form.proveedor.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.precio_venta.label_tag }}
                                {{ form.precio_venta }}
                                {% if form.precio_venta.errors %}
                                    <div class="text-danger">{{ form.precio_venta.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.compra.label_tag }}
                                {{ form.compra }}
                                {% if form.compra.errors %}
                                    <div class="text-danger">{{ form.compra.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.codigo_barras.label_tag }}
                                {{ form.codigo_barras }}
                                {% if form.codigo_barras.errors %}
                                    <div class="text-danger">{{ form.codigo_barras.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.imagen.label_tag }}
                                {{ form.imagen }}
                                {% if form.imagen.errors %}
                                    <div class="text-danger">{{ form.imagen.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.notas.label_tag }}
                                {{ form.notas }}
                                {% if form.notas.errors %}
                                    <div class="text-danger">{{ form.notas.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal de Registro de Producto -->
<div id="modal-uso-producto" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Registrar uso de producto</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'registrar_uso_producto' %}">
                    {% csrf_token %}
                    {% if uso_form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ uso_form.non_field_errors }}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        {{ uso_form.producto.label_tag }}
                        {{ uso_form.producto }}
                        {% if uso_form.producto.errors %}
                            <div class="text-danger">{{ uso_form.producto.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ uso_form.cantidad_usada.label_tag }}
                        {{ uso_form.cantidad_usada }}
                        {% if uso_form.cantidad_usada.errors %}
                            <div class="text-danger">{{ uso_form.cantidad_usada.errors }}</div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
$(document).ready(function() {
    console.log('jQuery version:', $.fn.jquery);
    console.log('$ function:', typeof $);
    console.log('$.ajax function:', typeof $.ajax);

    $('#modal-uso-producto form').on('submit', function(e) {
        e.preventDefault();
        console.log('Form submitted');
        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function(response) {
                console.log('Ajax success:', response);
                if (response.success) {
                    alert('Uso del producto registrado correctamente.');
                    $('#modal-uso-producto').modal('hide');
                    location.reload();
                } else {
                    alert('Error: ' + response.error);
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log('Ajax error:', textStatus, errorThrown);
                alert('Ocurrió un error al procesar la solicitud.');
            }
        });
    });
});
</script>
{% endblock %}

