{% extends "users/base.html" %}
{% block title %}Perfil de usuario{% endblock %}
{% block content %}
<p>Bienvenido, {{ user.username }}!</p>
<div class="row">
    <div class="col-md-6">
        <h2>Agendar Turno</h2>
        <form method="post">
            {% csrf_token %}
            {{ turno_form.as_p }}
            <button type="submit" class="btn btn-primary">Agendar Turno</button>
        </form>
    </div>
</div>

<h2 class="mt-5">Turnos Agendados</h2>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Observación</th>
        </tr>
    </thead>
    <tbody>
        {% for turno in turnos %}
            <tr>
                <td>{{ turno.cliente.nombre }}</td>
                <td>{{ turno.fecha }}</td>
                <td>{{ turno.observacion }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}

