body {
    font-family: cursive;
    background-color: #8B0000 !important;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

h2, p {
    color:white;

}
.sidebar {
    width: 250px;
    background-color: black;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar h2 {
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none; /* Quitar subrayado */
    transition: color 0.3s; /* Agregar una transición suave */
}

.sidebar ul li a:hover {
    color: #ff0000; /* Cambiar a rojo al pasar el mouse */
}

.main-content {
    flex: 1;
    padding: 20px;
}

.title {
    font-size: 2em;
    margin-top: 0;
}

/* Estilos personalizados para la tabla */
.table-responsive {
    margin-top: 20px;
}

.table-hover tbody tr:hover {
    background-color: rgba(255, 0, 0, 0.2); /* Rojo suave al pasar el mouse */
}
