body {
    font-family: cursive;
    background-color: #8B0000 !important;
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

h2, p, .form-fechas-filtro {
    color: white;
}

.sidebar {
    background-color: black;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: auto;
}

.sidebar h2 {
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 1.5rem 0;
    display: inline-block;
}

.sidebar ul li:after {
    display: block;
    content: '';
    border-bottom: 3px solid white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.sidebar ul li:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
}

.sidebar ul li.fromLeft:after {
    transform-origin: 100% 50%;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.sidebar ul li a:hover {
    color: #ff0000;
}

.main-content {
    flex: 1;
    padding: 20px;
    margin-left: 250px;
}

.title {
    font-size: 2em;
    margin: 0.5em 0 1.5em 0;
}

.table-responsive {
    margin-top: 20px;
}

.table-hover tbody tr:hover {
    background-color: rgba(255, 0, 0, 0.2);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: relative;
        height: auto;
    }

    .main-content {
        margin-left: 0;
    }

    .navbar-toggler {
        display: block;
        color: white;
    }

    .collapse.navbar-collapse {
        background-color: black;
    }
}
